.signInScreen {
  position: absolute;
  top: 30%;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 1;
  color: white;
  padding: 70px;
  max-width: 300px;
  background: rgba(0, 0, 0, 0.85);
}
